/build
/xtream/build
/data/build
/*/build
/simplesearchview/build
/app-compose/build
/core/**/build
.gradle
error*.log
*.iml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties

# Reference clones (cinemakmp etc.)
Documentation/reference/
